* {box-sizing: border-box;}

html { background-color: #111111; height: auto; width: 100vw; margin: 0px; padding: 0px; overflow-x: hidden;}


  .copyright {
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center; text-align: center; }

  .footer_copyright {
    margin: auto;
    color: white;
    font-family: 'Poppins';
    text-align: center;
  }

  .footer_copyright div { 
    margin: auto;
    display: flex; justify-content: center;
    align-items: center; text-align: center;

  }

  .sol-icon { -webkit-animation: beat .25s infinite alternate;
    -moz-animation: beat .25s infinite alternate;
    -ms-animation: beat .25s infinite alternate;
    -o-animation: beat .25s infinite alternate;
    animation: beat .25s infinite alternate;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -o-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;}
  
  @keyframes beat{
    to {
       -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -o-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
   
   }
   
   @-moz-keyframes beat {
    to {
      -moz-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-webkit-keyframes beat{
    to {
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-ms-keyframes beat {
    to {
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   }
   
   @-o-keyframes beat {
    to {
      -o-transform: scale(1.4);
      transform: scale(1.4);
    }
   
   } 